<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.shop.oms.dao.define.GoodsReturnChangePageListMapper">

  <resultMap id="BaseResultMap" type="com.work.shop.oms.common.bean.GoodsReturnChangeBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="sku_sn" jdbcType="VARCHAR" property="skuSn" />
    <result column="return_type" jdbcType="INTEGER" property="returnType" />
    <result column="reason" jdbcType="INTEGER" property="reason" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="redemption" jdbcType="INTEGER" property="redemption" />
    <result column="tag_type" jdbcType="INTEGER" property="tagType" />
    <result column="exterior_type" jdbcType="INTEGER" property="exteriorType" />
    <result column="gift_type" jdbcType="INTEGER" property="giftType" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="contact_telephone_area" jdbcType="VARCHAR" property="contactTelephoneArea" />
    <result column="contact_telephone" jdbcType="INTEGER" property="contactTelephone" />
    <result column="contact_telephone_branch" jdbcType="INTEGER" property="contactTelephoneBranch" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="return_sum" jdbcType="INTEGER" property="returnSum" />
    <result column="create" jdbcType="TIMESTAMP" property="create" />
    <result column="returnchange_sn" jdbcType="INTEGER" property="returnchangeSn" />
    <result column="return_sn" jdbcType="VARCHAR" property="returnSn" />
    <result column="return_pay_sn" jdbcType="VARCHAR" property="returnPaySn" />
    <result column="trans_type" jdbcType="TINYINT" property="transType" />
    <result column="shop_name" jdbcType="VARCHAR" property="channelName" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="question_status" jdbcType="TINYINT" property="questionStatus" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="transaction_price" jdbcType="DECIMAL" property="transactionPrice" />
    <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
    <result column="shop_code" jdbcType="VARCHAR" property="shopCode" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="store_code" jdbcType="VARCHAR" property="storeCode" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
  </resultMap>
  
    <resultMap id="BGResultMap" type="com.work.shop.oms.api.bean.GoodsReturnPageInfo">
 		<result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
 		<result column="sku_sn" jdbcType="VARCHAR" property="skuSn" />
 		<result column="return_sum" jdbcType="INTEGER" property="goodsNum" />
 		<result column="create" jdbcType="VARCHAR" property="createTime" />
 		<result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
 		<result column="goods_color_name" jdbcType="VARCHAR" property="goodsColor" />
 		<result column="goods_size_name" jdbcType="VARCHAR" property="goodsSize" />
 		<result column="goods_thumb" jdbcType="VARCHAR" property="goodsUrl" />
 		<result column="returnchange_sn" jdbcType="VARCHAR" property="goodsReturnChangeSn" />
 		<result column="status" jdbcType="INTEGER" property="status" />
 		<result column="return_type" jdbcType="INTEGER" property="returnType" />
 		<result column="transaction_price" jdbcType="DECIMAL" property="goodsPrice" />
  </resultMap>
  
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
   <sql id="BG_Column_List">
   		grc.order_sn,grc.sku_sn,grc.return_sum,grc.create,grc.returnchange_sn,grc.status,grc.return_type,og.transaction_price
  </sql>
  
  <sql id="Base_Column_List">
    grc.id, grc.user_id, grc.order_sn, grc.sku_sn, grc.return_type, grc.reason, `explain`, grc.redemption, grc.tag_type, 
    grc.exterior_type, grc.gift_type, grc.contact_name, grc.contact_mobile, grc.contact_telephone_area, grc.contact_telephone, 
    grc.contact_telephone_branch, grc.remark, grc.status, grc.return_sum, `create`,  returnchange_sn,orn.return_sn,return_pay_sn,
    oi.trans_type,oi.total_fee,oi.question_status,og.goods_name,og.transaction_price,grc.site_code,grc.shop_code,
    grc.shop_name,grc.store_code,grc.store_name
  </sql>
  <select id="selectByExample" parameterType="com.work.shop.oms.bean.GoodsReturnChangePageListExample" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_return_change grc
    <if test="historyData">
     inner join master_order_info_history oi on grc.order_sn=oi.master_order_sn
    </if>
    <if test="!historyData">
     inner join master_order_info oi on grc.order_sn=oi.master_order_sn
    </if>
     left join master_order_goods og on oi.master_order_sn=og.master_order_sn
	 left join order_return orn on orn.relating_order_sn=grc.order_sn 
	 left join order_refund ord on ord.relating_return_sn=orn.return_sn
	 <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
	  group by grc.id
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <if test="criterion.limitValue">
          limit ${criterion.value},${criterion.secondValue}
        </if>
      </foreach>
    </if>
  </select>
  
  <select id="countByExample" parameterType="com.work.shop.oms.bean.GoodsReturnChangePageListExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select count(1) from (
    select count(*) from goods_return_change grc
    <if test="historyData">
     inner join master_order_info_history oi on grc.order_sn=oi.master_order_sn
    </if>
    <if test="!historyData">
    inner join master_order_info oi on grc.order_sn=oi.master_order_sn
    </if>
     left join master_order_goods og on oi.master_order_sn=og.master_order_sn 
	 left join order_return orn on orn.relating_order_sn=grc.order_sn 
	 left join order_refund ord on ord.relating_return_sn=orn.return_sn
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
     group by grc.id
    ) aa
  </select>
  
    <select id="selectByExampleBG" parameterType="Map" resultMap="BGResultMap">
    select
    <include refid="BG_Column_List" />
    from goods_return_change grc
    <if test="isHistory==1">
     inner join master_order_goods_history
    </if>
    <if test="isHistory==0">
     inner join master_order_goods 
    </if>
    og
    on grc.sku_sn=og.custom_code and grc.order_sn=og.master_order_sn
	WHERE grc.user_id = #{userId,jdbcType=VARCHAR}
	and grc.site_code = #{siteCode,jdbcType=VARCHAR}
	<if test="goodsSn != null">
		and grc.sku_sn=#{goodsSn,jdbcType=VARCHAR} 
	</if>
	<if test="rStatus != null">
		and grc.status=#{rStatus} 
	</if>
	and grc.id in (select max(id) from goods_return_change where user_id = #{userId,jdbcType=VARCHAR} 
	group by sku_sn,order_sn) group by grc.id ORDER BY grc.create desc  limit #{start},#{pageSize}
  </select>
  
    <select id="countByExampleBG" parameterType="Map" resultType="java.lang.Integer">
     select count(1) from (select
   	count(*)
   from goods_return_change grc
    <if test="isHistory==1">
     inner join master_order_goods_history
    </if>
    <if test="isHistory==0">
     inner join master_order_goods 
    </if>
    og
    on grc.sku_sn=og.custom_code and grc.order_sn=og.master_order_sn
	WHERE  grc.user_id = #{userId,jdbcType=VARCHAR}
	and grc.site_code = #{siteCode,jdbcType=VARCHAR}
	<if test="goodsSn != null">
	and grc.sku_sn=#{goodsSn,jdbcType=VARCHAR} 
	</if>
	<if test="rStatus != null">
	and grc.status=#{rStatus} 
	</if>
	and grc.id in (select max(id) from goods_return_change where user_id = #{userId,jdbcType=VARCHAR} 
	group by sku_sn,order_sn) group by grc.id ORDER BY grc.create desc ) aa
  </select>
  
	<select id="selectOrderGoods" parameterType="Map" resultType="com.work.shop.oms.api.bean.OrderGoodsInfo">
    	select custom_code skuSn,
    		transaction_price transactionPrice,
    		discount discount,
    		sum(goods_number) goodsNum
    	from master_order_goods og 
    	where og.master_order_sn = #{orderSn,jdbcType=VARCHAR} 
    	group by og.custom_code
	</select>
  
  <select id="selectByExampleMall" parameterType="Map" resultMap="BGResultMap">
    select
	    grc.order_sn,
	    grc.sku_sn,
	    grc.return_sum,
	    DATE_FORMAT(grc.`create`,'%Y-%m-%d %k:%i:%S') `create`,
	    grc.returnchange_sn,
	    grc.`status`,
	    grc.return_type,
        grc.reason reason,
	    og.transaction_price,
        og.goods_size_name,
        og.goods_color_name,
        grc.shop_code channelCode,
        grc.shop_name channelName
    from goods_return_change grc
    <if test="isHistory==1">
     LEFT join master_order_goods_history
    </if>
    <if test="isHistory==0">
     LEFT join master_order_goods 
    </if>
    og
    on grc.sku_sn=og.custom_code and grc.order_sn=og.master_order_sn
    WHERE grc.user_id = #{userId,jdbcType=VARCHAR}
    and grc.site_code = #{siteCode,jdbcType=VARCHAR}
      and grc.is_del = 0
    <if test="goodsSn != null">
        and grc.sku_sn=#{goodsSn,jdbcType=VARCHAR} 
    </if>
    <if test="rStatus != null">
        and grc.status=#{rStatus} 
    </if>
    <if test="orderSn != null">
        and grc.order_sn=#{orderSn}
    </if>
      <if test="returnType != null">
          and grc.return_type=#{returnType}
      </if>
      <if test="changeSn != null">
          and grc.returnchange_sn=#{changeSn}
      </if>
      ORDER BY grc.create desc
      limit #{start},#{pageSize}
  </select>
  
  <select id="countByExampleMall" parameterType="Map" resultType="java.lang.Integer">
      select count(1)
      from goods_return_change grc
      <if test="isHistory==1">
          LEFT join master_order_goods_history
      </if>
      <if test="isHistory==0">
          LEFT join master_order_goods
      </if>
      og
      on grc.sku_sn=og.custom_code and grc.order_sn=og.master_order_sn
      WHERE  grc.user_id = #{userId,jdbcType=VARCHAR}
      and grc.site_code = #{siteCode,jdbcType=VARCHAR}
      and grc.is_del = 0
      <if test="goodsSn != null">
          and grc.sku_sn=#{goodsSn,jdbcType=VARCHAR}
      </if>
      <if test="rStatus != null">
          and grc.status=#{rStatus}
      </if>
      <if test="orderSn != null">
          and grc.order_sn=#{orderSn}
      </if>
  </select>

    <resultMap id="CountTypeMap" type="com.work.shop.oms.api.bean.OrderStatusTypeBean">
        <result column="status" property="status" />
        <result column="num" property="num" />
    </resultMap>
    <select id="getChangeOrderTypeNum" parameterType="map" resultMap="CountTypeMap">
        select `status`, count(1) num from goods_return_change
        where  site_code = #{siteCode} and user_id = #{userId} and is_del = 0
        group by `status`;
    </select>
</mapper>
