<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.shop.oms.dao.define.GoodsReturnChangeStMapper">

    <insert id="batchInsertReturnChangeDetail" parameterType="java.util.List">
        insert into goods_return_change_detail (order_sn, goods_name, custom_code, extension_code, extension_id, goods_number,
        goods_price, transaction_price, settlement_price, discount, group_name, goods_size_name, goods_color_name, goods_thumb, promotion_desc,
        use_card, share_bonus, promotion_id, market_price, goods_sn, return_type, redemption, tag_type, exterior_type, gift_type, remark,
        return_sum, returnchange_sn, return_goods_img, depot_code) values
        <foreach collection="list" item="insertList" separator=",">
            (
            #{insertList.orderSn}, #{insertList.goodsName}, #{insertList.customCode},
            #{insertList.extensionCode}, #{insertList.extensionId}, #{insertList.goodsNumber},
            #{insertList.goodsPrice}, #{insertList.transactionPrice}, #{insertList.settlementPrice},
            #{insertList.discount}, #{insertList.groupName}, #{insertList.goodsSizeName},
            #{insertList.goodsColorName}, #{insertList.goodsThumb}, #{insertList.promotionDesc},
            #{insertList.useCard}, #{insertList.shareBonus}, #{insertList.promotionId},
            #{insertList.marketPrice}, #{insertList.goodsSn}, #{insertList.returnType},
            #{insertList.redemption}, #{insertList.tagType}, #{insertList.exteriorType},
            #{insertList.giftType}, #{insertList.remark}, #{insertList.returnSum},
            #{insertList.returnchangeSn}, #{insertList.returnGoodsImg}, #{insertList.depotCode}
            )
        </foreach>
    </insert>


    <sql id="Base_Column_List" >
        grcd.goods_name goodsName, grcd.custom_code customCode, grcd.extension_code extensionCode, grcd.goods_number goodsNumber,
        grcd.goods_price goodsPrice, grcd.transaction_price transactionPrice, grcd.settlement_price settlementPrice,
        grcd.grcd.discount discount, grcd.goods_size_name goodsSizeName, grcd.goods_color_name goodsColorName, grcd.goods_thumb goodsThumb,
        grcd.share_bonus shareBonus, grcd.market_price marketPrice, grcd.goods_sn goodsSn, grcd.return_sum returnSum,
        grcd.returnchange_sn returnChangeSn,
        mog.min_buy_num minBuyNum, mog.customer_material_code customerMaterialCode, mog.buy_unit buyUnit
    </sql>
    <select id="getGoodsReturnChangDetail" resultType="com.work.shop.oms.api.bean.GoodsReturnChangeDetailBean" parameterType="Map">
        select
        grcd.goods_name goodsName,
        grcd.custom_code customCode,
        grcd.extension_code extensionCode,
        grcd.goods_number goodsNumber,
        grcd.goods_price goodsPrice,
        grcd.transaction_price transactionPrice,
        grcd.settlement_price settlementPrice,
        grcd.discount discount,
        grcd.goods_size_name goodsSizeName,
        grcd.goods_color_name goodsColorName,
        grcd.goods_thumb goodsThumb,
        grcd.share_bonus shareBonus,
        grcd.market_price marketPrice,
        grcd.goods_sn goodsSn,
        grcd.return_sum returnSum,
        grcd.returnchange_sn returnChangeSn,
        grcd.depot_code depotCode,
        mog.min_buy_num minBuyNum,
        mog.customer_material_code customerMaterialCode,
        mog.buy_unit buyUnit,
        mog.supplier_name supplierName,
        mog.supplier_code supplierCode,
        mog.cost_price costPrice,
        mog.order_sn orderSn,
        mog.goods_price_no_tax goodsPriceNoTax,
        mog.transaction_price_no_tax transactionPriceNoTax,
        mog.input_tax inputTax,
        mog.output_tax outputTax
        from goods_return_change_detail grcd
        left join master_order_goods mog
        on grcd.order_sn = mog.master_order_sn and grcd.custom_code = mog.custom_code and grcd.extension_code = mog.extension_code
        where grcd.returnchange_sn in
        <foreach collection="changeSnList" item="returnChangeSn" open="(" close=")" separator=",">
            #{returnChangeSn}
        </foreach>
        group by grcd.returnchange_sn, mog.order_sn, mog.custom_code, mog.extension_code, mog.customer_material_code
    </select>
</mapper>
