<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.shop.oms.dao.define.MBOMSDBToolMapper" >
 
  <select id="findOrderOutSn" parameterType="Map" resultType="java.lang.String" >
     select order_out_sn  from master_order_info 
     where order_out_sn in        
    <foreach item="item" index="index" collection="orders" 
                         open="(" separator="," close=")">
                        #{item}
     </foreach>
  </select>


  <insert id="insertNativeSql" parameterType="String" >
     ${value} 
  </insert>
  <update id="updateNativeSql" parameterType="String">
      ${value} 
  </update>
  <delete id="deleteNativeSql" parameterType="String">
      ${value} 
  </delete>
</mapper>