<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- 创建异步处理配送完成订单推送drp队列 -->
	<bean id="rider_drp_process" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="rider_drp_process" />
	</bean>

	<!-- Spring JMS Producer Template -->
	<bean id="riderDrpProcessJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="sessionTransacted" value="true" />
		<property name="sessionAcknowledgeMode" value="1" />
		<property name="deliveryMode" value="2" />
		<property name="defaultDestination" ref="rider_drp_process" />
	</bean>
	
	<!-- 配送完成订单推送drp监听器-->
	<bean id="riderDrpProcessMessageListener"
		class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<constructor-arg>
			<bean class="com.work.shop.oms.jms.listener.RiderDrpProcessConsumer" />
		</constructor-arg>
	</bean>
	
	<!-- Spring jmsContainer -->
	<bean id="riderDrpProcessJmsContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="destination" ref="rider_drp_process" />
		<property name="messageListener" ref="riderDrpProcessMessageListener" />
		<!-- 2到10个消费者 -->
		<property name="concurrency" value="2-10"></property>
	</bean>
	
</beans>
