<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>angular</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- <param-value>classpath*:applicationContext.xml</param-value> -->
		<param-value>classpath*:spring/**/spring-*.xml</param-value>
	</context-param>
	
	<!-- 统一登录配置  start-->
	<filter>
		<filter-name>authFilter</filter-name>
		<filter-class>com.work.shop.united.client.filter.AuthFilter</filter-class>
	</filter>

	<!-- 过滤所有的后台请求 -->
	<filter-mapping>
		<filter-name>authFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>auth:authConfigFile</param-name>
		<param-value>classpath*:auth_config.properties</param-value>
	</context-param>
	<!-- 统一登录配置  end-->
	
	<!-- 用户session信息获取  start-->
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>
			com.work.shop.oms.filter.SessionFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 用户session信息获取  end-->
	<welcome-file-list>
		<welcome-file>jump.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 告诉浏览器需要解压js压缩包的过滤器 -->
	<filter>        
		<filter-name>GzipJsFilter</filter-name>        
		<filter-class>com.work.shop.oms.filter.GzipJsFilter</filter-class>        
		<init-param>        
			<param-name>headers</param-name>        
			<param-value>Content-Encoding=gzip</param-value>        
		</init-param>      
	</filter>      
	<filter-mapping>      
		<filter-name>GzipJsFilter</filter-name>      
		<url-pattern>*.gzjs</url-pattern>      
	</filter-mapping> 
	
	<servlet>
		<servlet-name>Spring DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Spring DispatcherServlet</servlet-name>
		<url-pattern>/custom/*</url-pattern>
	</servlet-mapping>
</web-app>