<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.shop.oms.dao.BoSupplierContractMapper">
  <resultMap id="BaseResultMap" type="com.work.shop.oms.bean.BoSupplierContract">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bo_id" jdbcType="VARCHAR" property="boId" />
    <result column="child_company_contract_id" jdbcType="VARCHAR" property="childCompanyContractId" />
    <result column="thing_contract_id" jdbcType="VARCHAR" property="thingContractId" />
    <result column="child_company_id" jdbcType="INTEGER" property="childCompanyId" />
    <result column="supplier_code" jdbcType="VARCHAR" property="supplierCode" />
    <result column="contract_debt" jdbcType="DECIMAL" property="contractDebt" />
    <result column="contract_status" jdbcType="INTEGER" property="contractStatus" />
    <result column="contract_remark" jdbcType="VARCHAR" property="contractRemark" />
    <result column="reject_remark" jdbcType="VARCHAR" property="rejectRemark" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bo_id, child_company_contract_id, thing_contract_id, child_company_id, supplier_code, 
    contract_debt, contract_status, contract_remark, reject_remark, create_user, create_time, 
    update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bo_supplier_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bo_supplier_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.work.shop.oms.bean.BoSupplierContract">
    insert into bo_supplier_contract (id, bo_id, child_company_contract_id, 
      thing_contract_id, child_company_id, supplier_code, 
      contract_debt, contract_status, contract_remark, 
      reject_remark, create_user, create_time, 
      update_user, update_time)
    values (#{id,jdbcType=INTEGER}, #{boId,jdbcType=VARCHAR}, #{childCompanyContractId,jdbcType=VARCHAR}, 
      #{thingContractId,jdbcType=VARCHAR}, #{childCompanyId,jdbcType=INTEGER}, #{supplierCode,jdbcType=VARCHAR}, 
      #{contractDebt,jdbcType=DECIMAL}, #{contractStatus,jdbcType=INTEGER}, #{contractRemark,jdbcType=VARCHAR}, 
      #{rejectRemark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.work.shop.oms.bean.BoSupplierContract">
    insert into bo_supplier_contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="boId != null">
        bo_id,
      </if>
      <if test="childCompanyContractId != null">
        child_company_contract_id,
      </if>
      <if test="thingContractId != null">
        thing_contract_id,
      </if>
      <if test="childCompanyId != null">
        child_company_id,
      </if>
      <if test="supplierCode != null">
        supplier_code,
      </if>
      <if test="contractDebt != null">
        contract_debt,
      </if>
      <if test="contractStatus != null">
        contract_status,
      </if>
      <if test="contractRemark != null">
        contract_remark,
      </if>
      <if test="rejectRemark != null">
        reject_remark,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="boId != null">
        #{boId,jdbcType=VARCHAR},
      </if>
      <if test="childCompanyContractId != null">
        #{childCompanyContractId,jdbcType=VARCHAR},
      </if>
      <if test="thingContractId != null">
        #{thingContractId,jdbcType=VARCHAR},
      </if>
      <if test="childCompanyId != null">
        #{childCompanyId,jdbcType=INTEGER},
      </if>
      <if test="supplierCode != null">
        #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="contractDebt != null">
        #{contractDebt,jdbcType=DECIMAL},
      </if>
      <if test="contractStatus != null">
        #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="contractRemark != null">
        #{contractRemark,jdbcType=VARCHAR},
      </if>
      <if test="rejectRemark != null">
        #{rejectRemark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.work.shop.oms.bean.BoSupplierContract">
    update bo_supplier_contract
    <set>
      <if test="boId != null">
        bo_id = #{boId,jdbcType=VARCHAR},
      </if>
      <if test="childCompanyContractId != null">
        child_company_contract_id = #{childCompanyContractId,jdbcType=VARCHAR},
      </if>
      <if test="thingContractId != null">
        thing_contract_id = #{thingContractId,jdbcType=VARCHAR},
      </if>
      <if test="childCompanyId != null">
        child_company_id = #{childCompanyId,jdbcType=INTEGER},
      </if>
      <if test="supplierCode != null">
        supplier_code = #{supplierCode,jdbcType=VARCHAR},
      </if>
      <if test="contractDebt != null">
        contract_debt = #{contractDebt,jdbcType=DECIMAL},
      </if>
      <if test="contractStatus != null">
        contract_status = #{contractStatus,jdbcType=INTEGER},
      </if>
      <if test="contractRemark != null">
        contract_remark = #{contractRemark,jdbcType=VARCHAR},
      </if>
      <if test="rejectRemark != null">
        reject_remark = #{rejectRemark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.work.shop.oms.bean.BoSupplierContract">
    update bo_supplier_contract
    set bo_id = #{boId,jdbcType=VARCHAR},
      child_company_contract_id = #{childCompanyContractId,jdbcType=VARCHAR},
      thing_contract_id = #{thingContractId,jdbcType=VARCHAR},
      child_company_id = #{childCompanyId,jdbcType=INTEGER},
      supplier_code = #{supplierCode,jdbcType=VARCHAR},
      contract_debt = #{contractDebt,jdbcType=DECIMAL},
      contract_status = #{contractStatus,jdbcType=INTEGER},
      contract_remark = #{contractRemark,jdbcType=VARCHAR},
      reject_remark = #{rejectRemark,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByBoId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bo_supplier_contract
    where bo_id = #{boId}
  </select>
</mapper>