<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="productGoodsMapper" class="com.work.shop.spring.mapper.MapperFactoryBeanInvocation">
		<property name="mapperInterface" value="com.work.shop.oms.dao.ProductGoodsMapper" />
		<property name="sqlSessionFactory" ref="openshopsqlSessionFactory" />
	</bean>
	<bean id="productBarcodeListMapper" class="com.work.shop.spring.mapper.MapperFactoryBeanInvocation">
		<property name="mapperInterface" value="com.work.shop.oms.dao.ProductBarcodeListMapper" />
		<property name="sqlSessionFactory" ref="openshopsqlSessionFactory" />
	</bean>
	
	<bean id="channelGoodsDefinedMapper" class="com.work.shop.spring.mapper.MapperFactoryBeanInvocation">
		<property name="mapperInterface" value="com.work.shop.oms.dao.ChannelGoodsDefinedMapper" />
		<property name="sqlSessionFactory" ref="openshopsqlSessionFactory" />
	</bean>
	
	<bean id="productBarcodeListDefinedMapper" class="com.work.shop.spring.mapper.MapperFactoryBeanInvocation">
		<property name="mapperInterface" value="com.work.shop.oms.dao.ProductBarcodeListDefinedMapper" />
		<property name="sqlSessionFactory" ref="openshopsqlSessionFactory" />
	</bean>
	
	<bean id="productGoodsGalleryMapper" class="com.work.shop.spring.mapper.MapperFactoryBeanInvocation">
		<property name="mapperInterface" value="com.work.shop.oms.dao.ProductGoodsGalleryMapper" />
		<property name="sqlSessionFactory" ref="openshopsqlSessionFactory" />
	</bean>
</beans>
