<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.shop.oms.dao.OtherOrderMapper">
  <resultMap id="BaseResultMap" type="com.work.shop.oms.bean.bgapidb.OtherOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
    <result column="iid" jdbcType="VARCHAR" property="iid" />
    <result column="outer_id" jdbcType="VARCHAR" property="outerId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="price" jdbcType="VARCHAR" property="price" />
    <result column="origin_price" jdbcType="VARCHAR" property="originPrice" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="extension_code" jdbcType="VARCHAR" property="extensionCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_id, sku_id, iid, outer_id, title, goods_sn, price, origin_price, num, extension_code
  </sql>
  <select id="selectByExample" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from other_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="criteria.valid">
      <foreach collection="criteria.criteria" item="criterion">
        <if test="criterion.limitValue">
          limit ${criterion.value},${criterion.secondValue}
        </if>
      </foreach>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from other_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from other_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrderExample">
    delete from other_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrder">
    insert into other_order (id, order_id, sku_id, 
      iid, outer_id, title, 
      goods_sn, price, origin_price, 
      num, extension_code)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{skuId,jdbcType=VARCHAR}, 
      #{iid,jdbcType=VARCHAR}, #{outerId,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{goodsSn,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{originPrice,jdbcType=VARCHAR}, 
      #{num,jdbcType=VARCHAR}, #{extensionCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrder">
    insert into other_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="iid != null">
        iid,
      </if>
      <if test="outerId != null">
        outer_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="goodsSn != null">
        goods_sn,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="originPrice != null">
        origin_price,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="extensionCode != null">
        extension_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        #{iid,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null">
        #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null">
        #{originPrice,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="extensionCode != null">
        #{extensionCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrderExample" resultType="java.lang.Integer">
    select count(*) from other_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update other_order
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.skuId != null">
        sku_id = #{record.skuId,jdbcType=VARCHAR},
      </if>
      <if test="record.iid != null">
        iid = #{record.iid,jdbcType=VARCHAR},
      </if>
      <if test="record.outerId != null">
        outer_id = #{record.outerId,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSn != null">
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=VARCHAR},
      </if>
      <if test="record.originPrice != null">
        origin_price = #{record.originPrice,jdbcType=VARCHAR},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.extensionCode != null">
        extension_code = #{record.extensionCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update other_order
    set id = #{record.id,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      sku_id = #{record.skuId,jdbcType=VARCHAR},
      iid = #{record.iid,jdbcType=VARCHAR},
      outer_id = #{record.outerId,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=VARCHAR},
      origin_price = #{record.originPrice,jdbcType=VARCHAR},
      num = #{record.num,jdbcType=VARCHAR},
      extension_code = #{record.extensionCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrder">
    update other_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        iid = #{iid,jdbcType=VARCHAR},
      </if>
      <if test="outerId != null">
        outer_id = #{outerId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="originPrice != null">
        origin_price = #{originPrice,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="extensionCode != null">
        extension_code = #{extensionCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.work.shop.oms.bean.bgapidb.OtherOrder">
    update other_order
    set order_id = #{orderId,jdbcType=VARCHAR},
      sku_id = #{skuId,jdbcType=VARCHAR},
      iid = #{iid,jdbcType=VARCHAR},
      outer_id = #{outerId,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      origin_price = #{originPrice,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      extension_code = #{extensionCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>